{% extends 'admin/base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1 class="text-3xl mb-4">Posts</h1>

    <div class="flex">
        <div class="w-full bg-white shadow-sm p-4">
            <div class="text-right my-4">
                <a href="#"
                   class="bg-blue-400 hover:bg-blue-500 text-white font-bold p-2 rounded inline-flex items-center">
                    Create <i class="material-icons text-2xl">
                        add_circle_outline
                    </i>
                </a>
            </div>
            <table class="table-index w-full">
                <thead class="text-gray-600">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in postPaginated %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.publishedAt|length ? post.publishedAt|date('d-M-y H:i') : 'Not published' }}</td>
                        <td>
                            <form action="#" method="POST"
                                  onsubmit="return confirm('Delete?')">
                                <input type="hidden" name="_method" value="DELETE">

                                <a href="#"
                                   class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-1 px-2 rounded inline-flex items-center">
                                    <i class="material-icons text-xl">
                                        edit
                                    </i>
                                </a>

                                <button type="submit"
                                        class="bg-red-300 hover:bg-red-400 text-gray-800 font-bold py-1 px-2 rounded inline-flex items-center">
                                    <i class="material-icons text-xl"> delete_forever</i></button>
                            </form>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center p-8"><span>no records found</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {{ knp_pagination_render(postPaginated) }}
            </div>
        </div>
    </div>
{% endblock %}
