@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "varibles";
@import "sidebar";

body {
  background-color: $main-bg;
  color: #495057;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin-left: $sidebar-width;
  min-height: 100%;
}

.content {
  padding: 40px 40px 60px;
}

.toast-container {
  display: table-cell;
  vertical-align: middle;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 1050;
}

.table-index {
  border-collapse: collapse;
  font-weight: 400;
  font-size: 14px;

  thead > tr > th {
    border-top: none !important;
    border-bottom-width: 1px !important;
    text-transform: uppercase;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #d6dee5;
    text-align: left;
    font-weight: 500;
  }

  td, th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #d6dee5;
  }

  td:first-child, th:first-child {
    padding-left: 20px;
  }

  td:last-child, th:last-child {
    text-align: right;
  }

  tbody tr td {
    min-width: 100px;
  }

  tbody tr:nth-child(odd) {
    background: #f8f9fa;
  }
}